.contacts{
    display: flex;
    min-height: 500px;
    padding: 20px 0;
    color: $white;
    background-color: $bg-main-color;
    &__title{
        text-align: center;
        margin-bottom: 20px;
        padding: 15px;
        color: $white;
        font-family: 'Preahvihear', sans-serif;
    }
    &__wrapper{
        max-width: 400px;
        background-color: $white;
        border-radius: 25px;
        &__media{
            max-width: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            & p{
                // margin: 0 10px 0;
                padding: 20px;
            }
            & a{
                max-width: 50px;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit:contain;
                }
            }
        }
        &__text{
            // text-align: center;
            color: rgb(60, 48, 48);
            padding: 20px
        }
        &__form{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 20px;
            width: 100%;
        }
    }
}

.name, .surname, .email, .phone{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(119, 71, 139, 0.21);
    padding: 0 15px;
    color: rgb(85, 77, 77);
    background-color: $white;
}

textarea {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: $white;
    resize: none;
    border: none;
    line-height: 18px;
}

.privacy-policy{
    display: flex;
    align-items:center;
}

.privacy-policy__input{
    margin-left: 10px;
    width: 1.3em;
    height: 1.3em;
    background-color: #ddd;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.privacy-policy p{
    margin: 0 30px;
    color: rgb(135, 119, 119);
}

.privacy-policy__input:checked{
    background-color: #450e4e;
}

.send-form{
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background-color: #450e4e;
    border: none;
    border-radius: 25px;
    padding: 12px 23px;
    transition: .3s all;
    box-shadow: 0 0 0 #000;
    margin: 20px 0 0;
}


