.contacts{
    margin: 0 auto;
    min-height: 500px;
    padding: 20px 0;
    color: $white;
    background-color: $bg-main-color;
    &__title{
        color: $white;
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    &__wrapper{
        max-width: 400px;
        background-color: $white;
        border-radius: 25px;
        margin: 0 auto;
        &__form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 15px;
            max-width: 450px;
            &_item{
                position: relative;
                margin: 5px 0;
                width: 100%;
                & label{
                    position: absolute;
                    top: 8px;
                    left: 10px;
                    color: rgb(34, 31, 31);
                    text-transform: capitalize;
                    font-size: 11px;
                    transition: top .3s;
                    padding: 0 5px;
                    pointer-events: none;
                }
                & input, textarea{
                    width: 100%;
                    background-color: $white;
                    border: 1px solid rgb(179, 162, 162);
                    border-radius: 15px;
                    padding: 5px 15px;
                    color: rgb(69, 66, 66);
                }
                & input:focus ~ label, input:valid ~ label , textarea:focus ~ label, textarea:valid ~ label{
                    top: -7px;
                    background-color: $white;
                    color: rgb(142, 24, 122);
                }
            }
            &__button{
                width: 60%;
                font-size: 12px;
                font-weight: 700;
                line-height: 21px;
                text-align: center;
                color: #fff;
                background-color: #450e4e;
                border: none;
                border-radius: 25px;
                padding: 10px ;
                transition: .3s all;
                box-shadow: 0 0 0 #000;
                margin: 20px auto 0;
            }
        }
    }
}

.form__input._error{
    box-shadow: 0 0 2px red;
}

.privacy-policy__input._error{
    border: 2px solid rgba(161, 36, 36, 0.748);
}

.privacy-policy{
    display: flex;
    align-items:center;
    &__input{
        margin-left: 10px;
        width: 1.3em;
        height: 1.3em;
        background-color: #ddd;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        outline: none;
        cursor: pointer;
        &:checked{
            background-color: #450e4e;
        }
    }
    & p{
        margin: 0 15px;
        color: rgb(135, 119, 119);
        font-size: 12px;
    }
}