.pop-up_form{
    max-width: 450px;
    min-height: 50px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px 20px;
    border-radius: 50%;

    background-color: rgb(93, 55, 85);
    color: rgb(239, 230, 230);
    &__close{
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 50%;
        svg{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.over{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 100;
}