.experience {
    min-height: 500px;
    padding: 20px 0;
    color: $white;
    background: $bg-main-color radial-gradient(30% 50% at 55% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
    &__wrapper{
        font-size: 20px;
        &__title{
            text-align: center;
            margin-bottom: 20px;
            padding: 15px;
            color: $white;
        }
        &__list{
            display: flex;
            justify-content: space-evenly;
            &__item{
                padding: 40px;
                margin: 20px;
                box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
                border-radius: 20px;
                &__info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &__logo{
                        max-width: 300px;
                        margin-bottom: 20px;
                        filter: drop-shadow(0 0 20px rgb(242, 231, 231));
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &__description{
                        &__title{
                            font-size: 28px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

.experience__wrapper__list__item--1{
    background: linear-gradient(110.49deg, #130428 19.95%, #251043 67.64%, #38126D 107.08%, #261045 156.61%, #190634 183.21%);
}

.experience__wrapper__list__item--2{
    background: linear-gradient(150.56deg, #130428 0.58%, #251043 16.32%, #38126D 29.33%, #261045 45.66%, #190634 54.44%);
}