* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}